:root {
  font-family: system-ui, sans-serif;
  color-scheme: light dark;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  max-width: 64rem;
  margin-inline: auto;
  padding: 2rem 1rem;
}
